Icon*

.DS_STORE

*.csv

*.txt

!mondays_at_seven.txt

/t/*

/out

/dupe_check.py

/dupe_report.txt

/known_bad_ids.txt

/proxy.out

/*.log

/restore*.sql

/restore*.log

/gae_*.sql

/queries/

/query_downloads/

/events-dump*.sql

/compliance/

/query_archive/

/development/

/saveme.events-dump.sql

/events-dump.sav

/divisions_reports/

/event_dumps/

/__pycache__/

/credit_check.sql
/failures/
